<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="true"
	>
	<php>
		<const name="DOING_TESTS" value="1" />
	</php>
	<testsuites>
		<testsuite name="WP_Lock concurrency mutexes for WordPress test suite">
			<directory suffix=".php">tests/lock</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">.</directory>
			<exclude>
				<directory>tests</directory>
				<directory>vendor</directory>
				<directory>wordpress-develop</directory>
			</exclude>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="/tmp/clover.xml" charset="UTF-8" />
	</logging>
</phpunit>
